<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.edu.kanumovie.user.service.UserMapper">
    <select id="userListSelect" resultType="co.edu.kanumovie.user.vo.UserVO" >
        SELECT * FROM K_USERS ORDER BY SIGNDATE
    </select>
    <!-- <select id="userSearchList" resultType="co.edu.kanumovie.user.vo.UserVO">
    
    </select> -->
    <select id="userSelect" resultType="co.edu.kanumovie.user.vo.UserVO">
        SELECT * FROM K_USERS WHERE EMAIL = #{email} AND PW = #{pw}
    </select>
    <insert id="userInsert" parameterType="co.edu.kanumovie.user.vo.UserVO">
        INSERT INTO K_USERS VALUES(#{email},#{pw},SYSDATE,#{nick},0,0,0,'USER','n','n',#{fileName},#{directoryFileName})
    </insert>
    <update id="userUpdate" parameterType="co.edu.kanumovie.user.vo.UserVO">
        UPDATE K_USERS
        SET NICK = #{nick} 
        WHERE EMAIL = #{email}
    </update>
    <update id="userUpdatePw" parameterType="co.edu.kanumovie.user.vo.UserVO">
        UPDATE K_USERS 
        SET PW = #{pw}
        WHERE EMAIL = #{email}
    </update>
    <update id="userUpdatePrefer" parameterType="co.edu.kanumovie.user.vo.UserVO">
        UPDATE K_USERS 
        SET PREFERENCE1 = #{preference1}, PREFERENCE2 = #{preference2}, PREFERENCE3 = #{preference3}
        WHERE EMAIL = #{email}
    </update>
    <delete id="userDelete" parameterType="co.edu.kanumovie.user.vo.UserVO">
        DELETE FROM K_USERS WHERE EMAIL = #{email}
    </delete>
    
    <select id="perferList" resultType="co.edu.kanumovie.user.vo.PreferVO">
        SELECT * FROM K_PREFERMOVIE ORDER BY GENRE
    </select>
    <update id="userUpdateProfile" parameterType="co.edu.kanumovie.user.vo.UserVO">
        UPDATE K_USERS 
        SET FILENAME = #{fileName}, DIRECTORYFILENAME = #{directoryFileName}
        WHERE EMAIL = #{email}
    </update>
    <select id="userSelectEmail" resultType="co.edu.kanumovie.user.vo.UserVO">
        SELECT * FROM K_USERS WHERE EMAIL = #{email}
    </select>
</mapper>