@charset "UTF-8";

html {
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
}

div.row {
  max-width: 100%
}


/* 포스터 */
div.poster {
  /* float: left;
  width: 300px;
  height: 430px;
  padding: 0; */
  margin-bottom: 10px;
}

.posterImg {
  border-radius: 8px;
  width: 100%;
}


/* 영화 스펙 */
div.details {
  /* float: right; */
}


/* 코멘트 */
div.reviews {
  float: left;
}

/* 추천바 */
div.rightbar {
  float: right;
}

/* 별점 */
.anime__details__rating .rating i {
  font-size: 24px;
  color: #e53637;
  display: inline-block;
}



/* 플레이어 관련 start */
.video-js .vjs-dock-text,
.vjs-current-time-display,
.vjs-duration-display,
.vjs-time-divider {
  font-size: 1.5em;
}

.vjs-pip-container,
.youtube iframe {
  margin-bottom: 10px;
}

#myPlayerID {
  border-radius: 10px;
  border: 2px solid rgb(41, 41, 41);
}

.moviePlayer,
.youtube {
  margin: 0 auto;
}

.bc-iframe .vjs-playlist-sidebar .vjs-playlist-show-hide button:hover,
.bc-player-mM7pq2WtL_default .vjs-big-play-button:active,
.bc-player-mM7pq2WtL_default .vjs-big-play-button:focus,
.bc-player-mM7pq2WtL_default .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected,
.bc-player-mM7pq2WtL_default .vjs-play-progress,
.bc-player-mM7pq2WtL_default .vjs-volume-level,
.bc-player-mM7pq2WtL_default:active .vjs-big-play-button,
.bc-player-mM7pq2WtL_default:hover .vjs-big-play-button {
  background-color: #e53637;
}

/* 플레이어 관련 end*/







/* 배우 섹션 start */
section.panel {
  clear: both;
  background: #0b0c2a;
  border: none;
  width: 100%
    /* margin-top: 1.25rem; */
}


.cast-title>h3 {
  color: #ffffff;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 20px;
  /* position: relative; */
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}

div.product__sidebar__view__item {
  height: 100%;
  position: relative;
  border-radius: 5px;
  margin: 1% auto;
}

/* section.panel h3 {
  color: white;
} */

ol.people.scroller::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

ol.people.scroller::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollerGrey), 1);
  border-radius: 20px;
}

ol.people.scroller::-webkit-scrollbar-track {
  background: transparent;
}

ol.people.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
}

ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgba(var(--lightGrey), 1); */
  /* background-color: #fff; */
}

ol.people li.card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  /* border: 1px solid rgba(var(--lightGrey), 1); */
  padding-bottom: 10px;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
  background: #1d1e39;
}


ol.people li {
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-right: 10px;
}

ol.people li>a {
  min-width: 138px;
  width: 138px;
  height: 175px;
  display: block;
}


section.panel ol.people li a+p {
  padding-top: 10px;
}


ol.people li p {
  font-size: 1em;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b7b7b7;
}


ol.people li p a {
  font-weight: bold;
  color: #fff;
}

/* 배우 섹션 스크롤 */
div.scroller_wrap {
  position: relative;
  top: 0;
  left: 0;
}

div.scroller_wrap.should_fade.is_hidden:after {
  transition: linear 0.3s;
  opacity: 0;
}


div.scroller_wrap.should_fade:after {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #0b0c2a 100%);
  will-change: opacity;
  pointer-events: none;
}

/* 배우 섹션 end */






/* 추천영화 */
.product__sidebar__view__item h5 {
  text-shadow: 2px 2px 3px black;
  color: #ffffff;
  font-weight: 700;
  line-height: 26px;
}

.recombg {
  width: 100%;
}

.product__sidebar__view__item:hover {
  transform: scale(1.1);
  transition: 0.2s;
  margin: 5% auto;
}








/* 좋아요 버튼 start */
.like-container {
  filter: url('#filter');
  position: absolute;
  right: 211px;
  top: 24px;
  transform: translate(50%, -50%);
}

.like-cnt {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 100%;
  transform: translate(50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;

}

.like-btn {
  color: #fff;
}


::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

/* 좋아요 버튼 end */








/* 비디오모달스타일 start */
/* 버튼 */
.modalbox {
  width: 960px;
  text-align: right;
  margin-bottom: 20px;
}

.modalbtn {
  border-radius: 10px;
  width: 120px;
  height: 35px;
  padding: 0px;
  background-color: #1d1e39;
}

/* 비디오모달 */
.modalbox {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.cmtdiv .btn {
  background-color: #e53637;
  border: none;
  font-weight: bold;
}

.cmtdiv .btn:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.btn-success:active,
.btn-success:focus,
.btn:active,
.btn:focus,
.btn:hover {
  background-color: #e53637;
  /* border: 1px solid #e53637; */
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1d1e39;
}

.modalbtn {
  border: 0px;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  padding: 0px;
  background-color: #1d1e39;
  font-weight: bold;
  font-size: large;
}

.vModaldialog {
  max-width: 960px;
  /* height: 540px; */
  /* margin: 30px 100px; */
}

.vModalbody {
  width: 960px;
  height: 540px;
  margin: 0;
}






/* 모달2(폐기) */
/* .modal2 {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            display: none;
                                            background-color: rgba(0, 0, 0, 0.7);

                                          }

                                          .modal2.show {
                                            display: block;
                                          }

                                          .modal_body {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            width: 960px;
                                            height: 540px;
                                            text-align: center;
                                            background-color: rgb(255, 255, 255);
                                            border-radius: 10px;
                                            box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
                                            transform: translateX(-50%) translateY(-50%);
                                            transition: all .4s;
                                          } */