<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.edu.kanumovie.admin.service.AdminMapper">


 <select id="selectAllUserList" resultType="co.edu.kanumovie.user.vo.UserVO" >
        SELECT * FROM K_USERS ORDER BY SIGNDATE
 </select>

<select id="todayUsersCount" resultType="int">

SELECT COUNT(*) 
FROM k_users WHERE 
to_char(signdate, 'yy/mm/dd') = to_char(sysdate, 'yy/mm/dd')

</select>


</mapper>