<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.edu.kanumovie.admin.service.AdminMapper">

<!-- 
<resultMap type="co.edu.kanumovie.user.vo.UserVO" id="UserVO">
    <result column="preference1" property="preference1"/>
    <result column="preference2" property="preference2"/>
    <result column="preference3" property="preference3"/>
    <collection property="genreVO" resultMap="GenreVO"/>
</resultMap>
property에는 uservo에 선언한 변수명 resultMap은 밑에 장르아이디 이름
 
<resultMap type="co.edu.kanumovie.genre.vo.GenreVO" id="GenreVO">
    <result column="id" property="id"/>
    <result column="name" property="name"/>
</resultMap> -->



 <select id="selectAllUserList" resultType="co.edu.kanumovie.user.vo.UserVO" >
        SELECT * FROM K_USERS ORDER BY SIGNDATE DESC
 </select>

<select id="todayUsersCount" resultType="int">

SELECT COUNT(*) 
FROM k_users WHERE 
to_char(signdate, 'yy/mm/dd') = to_char(sysdate, 'yy/mm/dd')

</select>

<select id="selectAllUserCount" resultType="int">

SELECT count(*) FROM k_users
</select>

<select id="selectReportUserList" resultType="co.edu.kanumovie.user.vo.UserVO">
SELECT * FROM k_users WHERE report = 'y'
</select>

<select id="selectBlackList" resultType="co.edu.kanumovie.user.vo.UserVO">

SELECT * FROM k_users WHERE blockcheck = 'y'
</select>



<update id="updateBlockCheck" parameterType="String">
	<!-- update k_users set blockcheck = 'y' 
	WHERE email = #{email} -->
	UPDATE k_USERS SET blockcheck = 'y', report = 'n' WHERE email = #{email}
</update>

<update id="updateReportCheck" parameterType="String">

	UPDATE k_users SET report = 'n' WHERE email = #{email}
</update>

<update id="updateUnblockCheck" parameterType="String">
	UPDATE k_users SET blockcheck = 'n' WHERE email = #{email} 

</update>

<select id="selectAllReportUsers" resultType="int">
SELECT count(*) FROM k_users WHERE report = 'y'
</select>

<select id="selectCountWeeklySignUpUsersCount" resultType="int">

SELECT COUNT(*) FROM k_users WHERE to_char(signdate) = #{dateToStr}
</select>

<select id="selectUsersPreferredGenre" resultType="co.edu.kanumovie.admin.vo.PreferredGenreVO" >
SELECT  g.name,count(g.name) AS genrecount
FROM k_users u LEFT JOIN k_genres g
on u.preference1 = g.id OR u.preference2 = g.id or u.preference3 = g.id
GROUP BY g.name
ORDER BY 2 DESC FETCH FIRST 5 ROWS ONLY
</select>



<insert id="insertBanner" parameterType="co.edu.kanumovie.admin.vo.BannerVO">
INSERT INTO k_banner (genrename,btitle,bcontent,bimgsrc,bdirname,bid)
VALUES (#{genrename},#{btitle},#{bcontent},#{bimgsrc},#{bdirname},BANNER_ID_SEQ.nextval)

<!-- INSERT INTO k_banner
VALUES (#{genrename},#{btitle},#{bcontent},#{bimgsrc},BANNER_ID_SEQ.nextval,#{bdirname}) -->
</insert>

<update id="updateBanner" parameterType="int" >
UPDATE k_banner SET btitle = #{genrename}, btitle = #{btitle},
bcontent = #{bcontent}, bimgsrc = #{bimgsrc}, bdirname = #{bdirname}
 WHERE bid = #{bid};
</update>

<delete id="deleteBanner">
DELETE FROM k_banner WHERE bid = #{bid}
</delete>

<select id="selectAllBannerList" resultType="co.edu.kanumovie.admin.vo.BannerVO">
SELECT * FROM k_banner ORDER BY bid desc
</select>

<select id="selectBanner" resultType="co.edu.kanumovie.admin.vo.BannerVO">
SELECT * FROM k_banner WHERE bid = #{bid}
</select>



</mapper>