<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties"/>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="co.edu.kanumovie.movie.vo.MovieVO" alias="movie"/>
		<typeAlias type="co.edu.kanumovie.genre.vo.GenreVO" alias="genre"/>
		<typeAlias type="co.edu.kanumovie.show.vo.ShowVO" alias="show"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="co/edu/kanumovie/movie/service/movie-map.xml"/>
    <mapper resource="co/edu/kanumovie/admin/service/admin-mapper.xml"/>
    <mapper resource="co/edu/kanumovie/user/service/user-mapper.xml" />
    <mapper resource="co/edu/kanumovie/comment/service/comment-map.xml"/>
    <mapper resource="co/edu/kanumovie/genre/service/genre-map.xml"/>
    <mapper resource="co/edu/kanumovie/show/service/show-map.xml"/>
  </mappers>
</configuration>